## Ignore the following folders
/Atom
/BraveSoftware
/code-oss
/Code\ - \OSS
/configstore
/dconf
/deepin
/Electron
/electron-app
/fontconfig
/gconf
/ghostwriter
/GitHub\ Desktop
/glib-2.0
/gtk-3.0
/gtk-4.0
/hardhat-nodejs
/jgit
/KDE
/kde.org
/libaccounts-glib
/mpd
/mpv
/neofetch
/nextjs-nodejs
/Postman
/procps
/pulse
/rofi.old
/session
/truffle
/vdirsyncer
/vis
/vlc
/xsettingsd
/yarn

## Ignore the following files
/akregatorrc
/baloofileinformationrc
/baloofilerc
/bluedevilglobalrc
/calligrarc
/calligrawordsrc
/discoverrc
/dolphinrc
/drkonqirc
/emaildefaults
/gtkrc
/gtkrc-2.0
/kactivitymanagerdrc
/kactivitymanagerd-statsrc
/kateschemarc
/kcminputrc
/kcmshell5rc
/kconf_updaterc
/kded5rc
/kdeglobals
/kfontinstuirc
/kgammarc
/kglobalshortcutsrc
/khotkeysrc
/kmixrc
/konsolerc
/krunnerrc
/kscreenlockerrc
/ksmserverrc
/ksplashrc
/ktimezonedrc
/kwalletrc
/kwinrc
/kwinrulesrc
/kxkbrc
/mimeapps.list
/plasma-localerc
/plasmanotifyrc
/plasma-org.kde.plasma.desktop-appletsrc
/plasmarc
/plasmashellrc
/pmbootstrap.cfg
/powermanagementprofilesrc
/QtProject.conf
/systemsettingsrc
/trashrc
/Trolltech.conf
/user-dirs.dirs
/user-dirs.locale
